appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2025.6.15
charset-normalizer==3.4.2
click==7.1.2
exchange_calendars==4.11
idna==3.10
jugaad-data==0.27
korean-lunar-calendar==0.3.1
nselib==1.9
numpy==2.3.1
pandas==2.3.0
pandas_market_calendars==5.1.1
pyluach==2.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
toolz==1.0.0
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
